<?xml version="1.0"?>
<!--
/**
 * Zenki_Zenkipay events configuration
 *
 * @category    Payments
 * @package     Zenki_Zenkipay
 * @author      Federico Balderas
 * @copyright   Zenki (https://zenki.fi)
 * @license     http://www.apache.org/licenses/LICENSE-2.0  Apache License Version 2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="checkout_controller_success_action" instance="Zenki\Zenkipay\Observer\AfterPlaceOrder"  />
    </event>    
    <event name="sales_order_shipment_track_save_after">
        <observer name="mollie_create_shipment" instance="Zenki\Zenkipay\Observer\Tracking"/>
    </event>
</config>